<launch>

  <param name="robot_description" command="/home/erle/spider_ws/install_isolated/share/xacro/xacro.py /home/erle/spider_ws/spider_description/models/crab_model.xacro" />
  <param name="port_name" type="string" value="/dev/ttyACM0"/>

  <param name="leg4_2" type="int" value="18"/>
  <param name="leg1_1" type="int" value="19"/>

  <param name="joint_upper_limit" type="double" value="1.5" />
  <param name="joint_lower_limit" type="double" value="-1.5" />
  
  <param name="trapezoid_low_radius" type="double" value="0.049" />
  <param name="trapezoid_high_radius" type="double" value="0.016" />
  <param name="trapezoid_h" type="double" value="0.103" />
  <param name="clearance" type="double" value="0.12" />
  <param name="duration_ripple" type="double" value="0.64" />
  <param name="duration_tripod" type="double" value="0.3" />


  <node name="crab_leg_kinematics" pkg="crab_leg_kinematics" type="leg_ik_service"/>
  <node name="crab_maestro_controller" pkg="crab_maestro_controller" type="controller_sub"/>
  <node name="crab_body_kinematics" pkg="crab_body_kinematics" type="body_kinematics"/>
  <node name="crab_gait" pkg="crab_gait" type="gait_kinematics"/>
  <node name="crab_imu" pkg="crab_imu" type="imu_control"/>

<!-- PS3 joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
    <param name="coalesce_interval" value="0.02" />
  </node>

  <node name="crab_teleop_joy" pkg="crab_teleop_joy" type="teleop_joy" output="screen"/>

<node pkg="ps3joy" type="ps3joy.py" name="ps3joy_py" output="screen" />

</launch>
